/* header */
header {
  height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header {
  width: 100%;
  height: 60%;
  margin: 0 auto;

  background-color: #ccc;

  display: flex;
  align-items: center;
  justify-content: center;

}

header .search {
  width: 100%;
  height: 40%;
  background-color: bisque;
  margin: auto;

  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}
/* header .search {
  display: flex;
  flex-direction: row;
} */
header .search label {
  font-size: larger;
}
header .search input {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
header .search button {
  text-align: center;
}
/* header .container {
  display: flex;
  flex-direction: row;
}
header .container #labelGetMovie {
  font-size: larger;
}
header .container #getMovie {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
header .container button {
  text-align: center;
} */





/* main */
.main {
  width: 100%;
  /* margin-top: 20px; */
  /* padding-left: 5%;
  padding-right: 5%; */
  margin-bottom: 80px;
}

.mycards {
  /* 전체 폭 맞춰주기 */
  width: 90%;
  margin: 0 auto;

  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}

.mycards .row { 
  /* 기존에 이상한 margin과 padding이 존재해 삭제 */
  padding: 0;
  margin: 0;

  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}

.mycards .col {
  /* 의미없는 margin, padding 제거 */
  padding: 0;
  margin-top: 15px; /* 이상한 margin 조정 및 적절한 간격 조정*/
  margin-bottom: 15px;
}

.card {
  width: 300px;
  height: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  border-radius: 30px;
  background-color: antiquewhite;
  border: none;
  color: black;

  margin: 0 auto;
  /* padding-top: 20px; */
}

.card-img-top {
  object-fit: cover;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
}

.card-body {
  /* position:relative; */

  width: 100%;
  /* height: 280px; */

  padding: 0 20px 20px 20px;

  /* border: blanchedalmond 2px solid; */
  /* border-radius: 20px; */
}

.card-title {
  margin-top: 10px;
  height: 50px;
  font-size: 18px;
}

.card-text {
  /* position: absolute; */
  /* bottom: 30px; */
  width: 100%;

  text-align: justify;

  /* height: 200px; */
  color: black;
}




/* footer */
footer {
  width: 100%;
  height: 150px;
  background-color: grey;

  text-align: center;
}